[submodule "3rd-party/git-emacs"]
	path = 3rd-party/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "3rd-party/egg"]
	path = 3rd-party/egg
	url = git://github.com/bogolisk/egg.git
[submodule "3rd-party/muse-el"]
	path = 3rd-party/muse-el
	url = git://repo.or.cz/muse-el.git
[submodule "3rd-party/planner-el"]
	path = 3rd-party/planner-el
	url = git://repo.or.cz/planner-el.git
[submodule "3rd-party/remember-el"]
	path = 3rd-party/remember-el
	url = git://repo.or.cz/remember-el.git
[submodule ".git_externals/git"]
	path = .git_externals/git
	url = git://git.kernel.org/pub/scm/git/git.git
[submodule "3rd-party/magit"]
	path = 3rd-party/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "3rd-party/worklog"]
	path = 3rd-party/worklog
	url = git://github.com/credmp/worklog.git
[submodule "3rd-party/org-mode"]
	path = 3rd-party/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "3rd-party/emacs-tiny-tools"]
	path = 3rd-party/emacs-tiny-tools
	url = git://git.savannah.nongnu.org/emacs-tiny-tools.git
[submodule "3rd-party/markdown-mode"]
	path = 3rd-party/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "3rd-party/more-wl"]
	path = 3rd-party/more-wl
	url = git://repo.or.cz/more-wl.git
[submodule "3rd-party/apel"]
	path = 3rd-party/apel
	url = git://github.com/techarcana/apel.git
[submodule "3rd-party/flim"]
	path = 3rd-party/flim
	url = git://github.com/techarcana/flim.git
[submodule "3rd-party/semi"]
	path = 3rd-party/semi
	url = git://github.com/techarcana/semi.git
[submodule "3rd-party/wanderlust"]
	path = 3rd-party/wanderlust
	url = git://github.com/techarcana/wanderlust.git
