dir.old
/elisp/package.d/bbdb/Makefile
/elisp/package.d/bbdb/autom4te.cache/output.0
/elisp/package.d/bbdb/autom4te.cache/requests
/elisp/package.d/bbdb/autom4te.cache/traces.0
/elisp/package.d/bbdb/config.log
/elisp/package.d/bbdb/config.status
/elisp/package.d/bbdb/configure
/elisp/package.d/bbdb/lisp/Makefile
/elisp/package.d/bbdb/loadpath.el
/elisp/package.d/bbdb/testing/Makefile
/elisp/package.d/bbdb/tex/Makefile
/elisp/package.d/bbdb/texinfo/Makefile
/elisp/package.d/bbdb/texinfo/bbdb.info
/elisp/package.d/bbdb/utils/Makefile
